*
{
    margin: 0;
    padding: 0;
    background-color: #a6f6ff;
}
h1
{
    border: 2px solid black;
    height: 70px;
    width: auto;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #9eddff;
}
body
{
    text-align: center;
}
.home
{
    margin-top: 200px;
    font-size: 45px;
}
.btn
{
    margin-top: 30px;
    background-color: #befff7;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    border-color: #befff7;
}